@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <a href="~/Staffs">
        <h1>Staff</h1>
        </a>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/Picture3.png" width="300" height="300" alt="" />
</div>
    <div class="col-md-4">
        
        <img src="~/Images/Picture4.png" width="300" height="300" alt="" />
       
    </div>
    <div class="col-md-4">
     
        <img src="~/Images/Picture5.png" width="300" height="300" alt="" />
        
    </div>
</div>